<nav id="sidebar" class="sidebar bg-light h-100 overflow-auto">
    <div>
        <div class="sidebar-title">TRACK YOUR CALORIES</div>
        <ul class="nav flex-column">
            <li>
                <a href="{% url 'log_activity' %}" class="nav-link {% if request.path == '/activity/log/' %}active{% endif %}">
                   <i data-lucide="clipboard-list" class="nav-icon"></i>
                   Log Activity/Calorie
                </a>
            </li>
            <li>
                <a href="{% url 'calorie_report' %}" class="nav-link {% if request.path == '/activity/report/' %}active{% endif %}">
                   <i data-lucide="chart-no-axes-combined" class="nav-icon"></i>
                   View Calorie Report
                </a>
            </li>
            <li>
                <a href="{% url 'discussion_list' %}" class="nav-link {% if request.path == '/discussions/' %}active{% endif %}">
                   <i data-lucide="users" class="nav-icon"></i>
                   Discussion Forum
                </a>
            </li>
            <li>
                <a href="{% url 'leaderboard' %}" class="nav-link {% if request.path == '/leaderboard/' %}active{% endif %}">
                    <i data-lucide="award" class="nav-icon"></i>
                    Leaderboard
                </a>
            </li>
        </ul>
    </div>

    <div class="nav flex-column mt-auto">
        <li>
            <a href="{% url 'profile' %}" class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                <i data-lucide="user-circle" class="nav-icon"></i>
                Profile
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}" class="nav-link">
                <i data-lucide="log-out" class="nav-icon"></i>
                Logout
            </a>
        </li>
    </div>
</nav>